on:
  push:

jobs:
  static:
    uses: nolte/gh-plumbing/.github/workflows/reusable-pre-commit.yaml@v1.1.11

  security:
    uses: nolte/gh-plumbing/.github/workflows/reusable-trivy.yaml@v1.1.11
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

  chain-bench:
    uses: nolte/gh-plumbing/.github/workflows/reusable-chain-bench.yaml@v1.1.11
    secrets:
      token: {{"${{"}} secrets.GITHUB_TOKEN {{"}}"}}
